// Colors
$redDeadpool: #a5162b;
$yellowWolverine: #d8ad00;

// Text colors
$fontColor: #f0f0f0;
$fontSubColor: #dadada;

// Background
$backgroundColor: #181818;
$backgroundHover: #252525;

// Font family
$fontFamily: 'Poppins', sans-serif;
$fontBrand: 'Rogue Hero', sans-serif;